<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<h2>Chao ban den voi Framgia</h2>
<h4>Day la trang tao moi tai khoan</h4>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |ff| %>
    	<%= render 'fields', f: ff %>
      <%= ff.submit "Create my account", class: "btn btn-success" %>
    <% end %>
  </div>
</div>